.less-color {
    color: #666;
}

.top-card {
    position: relative;
}

.headline-info {
    margin-left: 240px;
    padding: 20px 20px 20px 30px;
}

.headline-info >h6 > span {
    padding-left: 20px;
    color: #000000;!important;
}

.profile-picture {
    height: 240px;
    width: 240px;
    position: absolute;
}

.profile-picture > img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.main-content {
    display: inline-block;
    position: relative;
    width: 976px;

}

.title-rect >h5 {
    color: #ffffff;
    background-color: #333333;
    padding:10px 20px;
    display: inline-block;
    font-weight: bold;
}

.child-section >.content {

}

.child-section >   .section-header {
    padding: 10px 0px;
}

.child-section {
    margin-top: 0px;
    margin-bottom: 20px;
}

.background-content {
    padding: 15px;
}