/*---------------------------*/
/*typography*/
/*---------------------------*/

@font-face {
    font-family: myFont;
    src: url("../font/100.ttf");
    font-weight: 100;
}

@font-face {
    font-family:myFont;
    src: url("../font/normal.ttf") ;
    font-weight: normal;
}

@font-face {
    font-family: myFont;
    src: url("../font/bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: myFont;
    src: url("../font/Lato-Black.ttf");
    font-weight: 900;
}


body {
    font-family: myFont, sans-serif;
    overflow: auto;

}


.less-color {
    color: #666;
}

body {
    background: url("../images/background-7.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.top-card {
    position: relative;
    background-color: #ffffff;
}

.headline-info {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 20px 20px 5px 30px;
}

.headline-info >h6 > span {
    padding-left: 20px;
    color: #000000;!important;
}

.profile-picture {
    height: 240px;
    width: 240px;
    position: relative;
    display: inline-block;
}

.profile-picture > img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.main-content {
    display: inline-block;
    position: relative;
    width: 976px;

}

.title-rect >h5 {
    color: #ffffff;
    background-color: #333333;
    padding:10px 20px;
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

.child-section >.content {

}

.child-section >   .section-header {
    padding: 10px 0px;
}


.child-section >   .section-header > img{
    width: 35px;
    height: 35px;
    display: inline-block;
}

.child-section >   .section-header > i {
        vertical-align: sub;
}

.child-section >   .section-header > *:last-child{
    padding-left:10px;
    display: inline-block;
    vertical-align: middle;
}

.child-section {
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
}

.background-content {
    padding: 20px;
    padding-top: 10px;
}

.exp-item {
    margin-bottom: 20px;
}

.exp-item img {
    width: 60px;
    height:60px;
}

ul.top-skill-board {
    list-style: none;
    padding: 0;
}

ul.top-skill-board li{
   margin-bottom: 8px;
}

.skill-pill {


}
.skill-pill span:first-child {
    border-radius: 2px;
    min-width: 35px;
    text-align: center;
    background-color: rgb(27, 168, 229);
    color: #ffffff;
    padding: 3px;
}

.skill-pill span:nth-child(2) {
    border-radius: 2px;
    padding: 3px 15px;
    text-align: center;
    background-color: #F0F0F0;

}

.more-skills {
    padding: 0;
}

.more-skills li {
    display: inline-block;
    padding-right: 6px;
    margin-bottom: 20px;
}

.project-list {
    list-style: none;
}
.project-list li a {
    color: #000000;
    text-decoration: none;!important;
    cursor: pointer;
    cursor: hand;

}

.project-list li a:hover {
    color: #337ab7;
}

.hover-style {
    cursor: pointer;
    cursor: hand;
    transition: background 0.2s;
}
.hover-style:hover {
   background-color: rgba(0,0,0,0.1);
}

.add-icon {
    color: #4CAF50;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 22px;


}

.span-plus {
    color: #000000;
    position: absolute;
    top: 5px;
    right: 0;
}

li i.fa, i.fa.fa-edit,i.fa.fa-remove {
    font-size: 22px;
    cursor: pointer;
    cursor: hand;
    padding-left: 10px;
    padding-right: 5px;
}
li i.fa:not(:first-child) {
    /*padding-left: 10px;*/

}

.modal-header {
    background-color: #387DB9;
    color: #ffffff;
}

.login-table {
}
.top-login {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;


}
.login-table > div {
    background-color: rgba(255,255,255,1);
    margin-top: 10%;
    padding: 50px 50px;
    padding-top: 0px;
    padding-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.login-table .label-me {
    padding: 5px 0;
    margin-top: 10px;
}
.login-table input{
    width: 260px;
}

.login-table button {
    margin-top: 20px;
    width: 260px;
    padding: 10px;
}

.hover-link {
    cursor: pointer;
    cursor: hand;
}

.hover-link:hover {
    color: #00b3ee;
}

.loading-bg {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.loading-bg .loader-inner {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 50%;
    margin-left: -24px;
}

.hide-me {
    display: none;
}