/*---------------------------*/
/*typography*/
/*---------------------------*/

@font-face {
    font-family: myFont;
    src: url("../font/100.ttf");
    font-weight: 100;
}

@font-face {
    font-family:myFont;
    src: url("../font/normal.ttf") ;
    font-weight: normal;
}

@font-face {
    font-family: myFont;
    src: url("../font/bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: myFont;
    src: url("../font/Lato-Black.ttf");
    font-weight: 900;
}


body {
    font-family: myFont, sans-serif;
    overflow: auto;

}


.less-color {
    color: #666;
}

body {
    background: url("../images/background-7.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.top-card {
    position: relative;
    background-color: #ffffff;
}

.headline-info {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 20px 20px 5px 30px;
}

.headline-info >h6 > span {
    padding-left: 20px;
    color: #000000;!important;
}

.profile-picture {
    height: 240px;
    width: 240px;
    position: relative;
    display: inline-block;
}

.profile-picture > img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.main-content {
    display: inline-block;
    position: relative;
    width: 976px;

}

.title-rect >h5 {
    color: #ffffff;
    background-color: #333333;
    padding:10px 20px;
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

.child-section >.content {

}

.child-section >   .section-header {
    padding: 10px 0px;
}


.child-section >   .section-header > img{
    width: 35px;
    height: 35px;
    display: inline-block;
}

.child-section >   .section-header > i {
        vertical-align: sub;
}

.child-section >   .section-header > *:last-child{
    padding-left:10px;
    display: inline-block;
    vertical-align: middle;
}

.child-section {
    margin-top: 0px;
    margin-bottom: 20px;
}

.background-content {
    padding: 20px;
    padding-top: 10px;
}

.exp-item {
    margin-bottom: 20px;
}

.exp-item img {
    width: 60px;
    height:60px;
}

ul.top-skill-board {
    list-style: none;
    padding: 0;
}

ul.top-skill-board li{
   margin-bottom: 8px;
}

.skill-pill {


}
.skill-pill span:first-child {
    border-radius: 2px;
    min-width: 35px;
    text-align: center;
    background-color: rgb(27, 168, 229);
    color: #ffffff;
    padding: 3px;
}

.skill-pill span:nth-child(2) {
    border-radius: 2px;
    padding: 3px 15px;
    text-align: center;
    background-color: #F0F0F0;

}

.more-skills {
    padding: 0;
}

.more-skills li {
    display: inline-block;
    padding-right: 6px;
    margin-bottom: 20px;
}

.project-list {
    list-style: none;
}
.project-list li a {
    color: #000000;
    text-decoration: none;!important;
    cursor: pointer;
    cursor: hand;

}

.project-list li a:hover {
    color: #337ab7;
}

.hover-style {
    cursor: pointer;
    cursor: hand;
}