<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Don Le CV</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" >
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" >
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" >
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css" >

    <link rel="stylesheet" href="css/index.css" >
    <link rel="stylesheet" href="css/snip.css" >

</head>
<body ng-app="myApp" ng-controller="MainController">
    <div class="container-fluid ng-cloak" style="max-width: 746px;margin: 50px auto">
        <div class="row">
            <div class="top-card">

                <div class="profile-picture" ng-class="{'hover-style':editMode}" ng-click="editEnable([{name:'Avatar URL',obj:'avatar'}])">
                    <img ng-src="{{data.avatar}}" style="">
                </div>
                <div class="headline-info" ng-class="{'hover-style':editMode}" ng-click="editBaseInfo()">
                    <!--ng-class="{'hover-style':editMode}" ng-click="editEnable([{name:'Full name',obj:'personName'}])"-->
                        <h3>{{data.personName}}</h3>
                        <h4>{{data.mainJob}}</h4>
                        <h6 style="margin-bottom: 20px">{{data.country}}</h6>
                        <h6>Current <span>{{data.current}} </span></h6>
                        <h6>Education <span>{{data.edu}}</span></h6>
                        <a class="btn btn-info" style="margin-top: 15px" href="mail:{{data.email}}">Email me</a>
                </div>
                <div class="hover-style" ng-if="!editMode" ng-click="editModeToggle()" style="position: absolute;right: 15px;top:10px;opacity: 0.8"><i class="fa fa-2x fa-edit" style="vertical-align: baseline"></i> Edit</div>
                <div class="hover-style" ng-if="editMode" ng-click="editModeToggle()" style="position: absolute;right: 15px;top:10px;opacity: 0.8"><i class="fa fa-2x fa-save" style="vertical-align: baseline"></i> Apply</div>
            </div>

        </div>

        <div class="row" style="margin-top: 10px">
            <div style="background-color: #ffffff">
                <div class="personal-background">
                    <div class="title-rect">
                        <h5>Background</h5>
                    </div>
                </div>
                <div class="background-content">

                    <!--Summary section-->
                    <div class="child-section" ng-class="{'hover-style':editMode}" ng-click="editEnable([{name:'Summary',obj:'summary'}])">
                        <div class="section-header">
                            <i class="fa fa-2x fa-user"></i>
                            <i class="fa fa-2x fa-no"></i>
                            <h4 class="less-color">Summary</h4>
                        </div>
                        <div class="content">
                            {{data.summary}}
                        </div>
                    </div>
                    <hr>
                    <!--Experience-->
                    <div class="child-section">
                        <span ng-if="editMode" ng-click="addExperience()" class="hover-style span-plus"><i  class="fa fa-plus add-icon"></i>  Add item </span>
                        <div class="section-header">
                            <i class="fa fa-2x fa-briefcase"></i>
                            <h4 class="less-color">Experience </h4>
                        </div>
                        <div class="content">
                            <div ng-repeat="exp in data.experience" class="exp-item">
                                <div class="pull-left">
                                    <h4>{{exp.companyName}}
                                        <i ng-if="editMode" ng-click="editExperience(exp,$index)" class="fa fa-edit"></i>
                                        <i ng-if="editMode" ng-click="removeItem(exp,'experience')" class="fa fa-remove"></i>
                                    </h4>
                                    <h5>{{exp.position}}</h5>
                                    <h6>{{exp.period}} | {{exp.location}}</h6>
                                </div>
                                <img ng-src="{{exp.avatar}}" class="pull-right">
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <!--Projects-->
                    <div class="child-section">
                        <span ng-if="editMode" ng-click="addProject()" class="hover-style span-plus"><i  class="fa fa-plus add-icon"></i>  Add item </span>
                        <div class="section-header">
                            <i class="fa fa-2x fa-folder"></i>
                            <h4 class="less-color">Projects

                            </h4>
                        </div>
                        <ul class="project-list">
                            <li ng-repeat="item in data.project">
                                <i ng-if="editMode" ng-click="editProject(item,$index)" class="fa fa-edit"></i>
                                <i ng-if="editMode" ng-click="removeItem(item,'project')" class="fa fa-remove"></i>
                                <a href="{{item.link}}" target="_blank">
                                    <h4>{{item.name}}</h4>
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <!--Skills-->
                    <div class="child-section">
                        <span ng-if="editMode" ng-click="addSkill()" class="hover-style span-plus"><i  class="fa fa-plus add-icon"></i>  Add item </span>
                        <div class="section-header">
                            <i class="fa fa-2x fa-rocket"></i>
                            <h4 class="less-color" >Skills </h4>
                        </div>
                        <div class="content">
                            <h5 style="padding: 15px 0">Top skills</h5>
                            <ul class="top-skill-board">
                                <li ng-repeat="skill in data.skill | orderBy: 'level'" ng-if="skill.type==1" class="skill-pill"><span>{{skill.level}}</span><span>{{skill.name}}</span>
                                    <i ng-if="editMode" ng-click="removeItem(skill,'skill')" class="fa fa-remove"></i></li>
                            </ul>
                            <h5 style="padding: 15px 0">I also know about...</h5>
                            <ul class="more-skills">
                                <li ng-repeat="skill in data.skill | orderBy: 'level'" ng-if="skill.type==2" class="skill-pill"><span>{{skill.level}}</span><span>{{skill.name}}</span>
                                    <i ng-if="editMode" ng-click="removeItem(skill,'skill')" class="fa fa-remove"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <!--Education-->
                    <div class="child-section">
                        <span ng-if="editMode" ng-click="addEducation()" class="hover-style span-plus"><i  class="fa fa-plus add-icon"></i>  Add item </span>
                        <div class="section-header">
                            <i class="fa fa-2x fa-mortar-board"></i>
                            <h4 class="less-color">Education </h4>
                        </div>

                        <div class="content">
                            <div ng-repeat="item in data.education" class="exp-item">
                                <div class="pull-left">
                                    <h4>{{item.schoolName}}
                                        <i ng-if="editMode" ng-click="editEducation(item,$index)" class="fa fa-edit"></i>
                                        <i ng-if="editMode" ng-click="removeItem(item,'education')" class="fa fa-remove"></i>
                                    </h4>
                                    <h5>{{item.major}}</h5>
                                    <h6>{{item.period}} | {{item.location}}</h6>
                                </div>
                                <!--<img class="pull-right" src="{{item.avatar}}">-->
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <hr>



                </div>
            </div>
       </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" ng-repeat="p in params">
                            <label for="recipient-name" class="control-label">{{p.name}}:</label>
                            <input type="text" ng-model="cloneData[p.obj]" class="form-control" id="recipient-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveChange()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="guideModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">How to edit</h4>
                </div>
                <div class="modal-body">
                   <h4>Click on any field to edit</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">OK, got it !</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" ng-repeat="p in addParams">
                            <label for="recipient-name" class="control-label">{{p.name}}:</label>
                            <input type="text" ng-model="temp[p.obj]" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="addField()"><i class="fa fa-plus" style="vertical-align: baseline"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

    <script src="js/app.js"></script>
</html>