<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Don Le CV</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" >
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" >
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" >
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css" >

    <link rel="stylesheet" href="css/index.css" >
    <link rel="stylesheet" href="css/snip.css" >

</head>
<body ng-app="myApp" ng-controller="MainController">
    <div class="container-fluid ng-cloak" style="max-width: 746px;margin: 50px auto">
        <div class="row">
            <div class="top-card">
                <div class="profile-picture">
                    <img src="images/avatar.jpg" style="">
                </div>
                <div class="headline-info">
                        <h3>{{data.personName}}</h3>
                        <h4>{{data.mainJob}}</h4>
                        <h6 style="margin-bottom: 20px">{{data.country}}</h6>
                        <h6>Current <span>LinkedIn, Intuit, DonorsChoose</span></h6>
                        <h6>Previous <span>Malaria No More, Accel Partners, Greylock</span></h6>
                        <h6>Education <span>University of Pennsylvania - The Wharton School</span></h6>

                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 10px">
            <div style="background-color: #ffffff">
                <div class="personal-background">
                    <div class="title-rect">
                        <h5>Background</h5>
                    </div>
                </div>
                <div class="background-content">

                    <!--Summary section-->
                    <div class="child-section">
                        <div class="section-header">
                            <img>
                            <h4 class="less-color">Summary</h4>
                        </div>
                        <div class="content">
                            {{data.summary}}
                        </div>
                        <hr>
                    <!--Experience-->
                    <div class="child-section">
                        <div class="section-header">
                            <img>
                            <h4 class="less-color">Experience</h4>
                        </div>
                        <div class="content">
                            <div ng-repeat="exp in data.experience" class="exp-item">
                                <div class="pull-left">
                                    <h4>{{exp.companyName}}</h4>
                                    <h5>{{exp.position}}</h5>
                                    <h6>{{exp.period}} | {{exp.location}}</h6>
                                </div>
                                <img ng-src="{{exp.avatar}}" class="pull-right">
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <!--Projects-->
                    <div class="child-section">
                        <div class="section-header">
                            <img>
                            <h4 class="less-color">Projects</h4>
                        </div>
                        <ul class="project-list">
                            <li ng-repeat="item in data.project"><a href="{{item.link}}" target="_blank"><h4>{{item.name}}</h4></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <!--Skills-->
                    <div class="child-section">
                        <div class="section-header">
                            <img>
                            <h4 class="less-color">Skills</h4>
                        </div>
                        <div class="content">
                            <h5 style="padding: 15px 0">Top skills</h5>
                            <ul class="top-skill-board">
                                <li ng-repeat="skill in data.skill | orderBy: 'level'" ng-if="skill.type==1" class="skill-pill"><span>{{skill.level}}</span><span>{{skill.name}}</span></li>
                            </ul>
                            <h5 style="padding: 15px 0">Don also know about...</h5>
                            <ul class="more-skills">
                                <li ng-repeat="skill in data.skill | orderBy: 'level'" ng-if="skill.type==2" class="skill-pill"><span>{{skill.level}}</span><span>{{skill.name}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <!--Education-->
                    <div class="child-section">
                        <div class="section-header">
                            <img>
                            <h4 class="less-color">Education</h4>
                        </div>

                        <div class="content">
                            <div ng-repeat="item in data.education" class="exp-item">
                                <div class="pull-left">
                                    <h4>{{item.schoolName}}</h4>
                                    <h5>{{item.major}}</h5>
                                    <h6>{{item.period}} | {{item.location}}</h6>
                                </div>
                                <!--<img class="pull-right" src="{{item.avatar}}">-->
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <hr>



                </div>
            </div>
       </div>
    </div>
    </div>
</body>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="js/app.js"></script>
</html>